In [6]:
%reload_ext autoreload
%autoreload 2

In [7]:
import sys
import os

# Your desired directory path
desired_path = "c:/Projects/taxi_demand_predictory/"

# Change the current working directory to the specified path
os.chdir(desired_path)

# Verify by printing the current working directory
print("Current Working Directory: ", os.getcwd())

Current Working Directory:  c:\Projects\taxi_demand_predictory

In [8]:
from src.data import load_raw_data

rides = load_raw_data(year=2023)
rides

File 2023-01 was already in local storage
File 2023-02 was already in local storage
File 2023-03 was already in local storage
File 2023-04 was already in local storage
File 2023-05 was already in local storage
File 2023-06 was already in local storage
Downloading file 2023-07
2023-07 file is not available
Downloading file 2023-08
2023-08 file is not available
Downloading file 2023-09
2023-09 file is not available
Downloading file 2023-10
2023-10 file is not available
Downloading file 2023-11
2023-11 file is not available
Downloading file 2023-12
2023-12 file is not available

            pickup_datetime  pickup_location_id
0       2023-01-01 00:32:10                 161
1       2023-01-01 00:55:08                  43
2       2023-01-01 00:25:04                  48
3       2023-01-01 00:03:48                 138
4       2023-01-01 00:10:29                 107
...                     ...                 ...
3307229 2023-06-30 23:30:21                  42
3307230 2023-06-30 23:34:22                 132
3307231 2023-06-30 23:45:00                 256
3307232 2023-06-30 23:13:38                  91
3307233 2023-06-30 23:18:00                 164

[19493142 rows x 2 columns]

In [11]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:01<00:00, 220.07it/s]

                pickup_hour  rides  pickup_location_id
0       2023-01-01 00:00:00      0                   1
1       2023-01-01 01:00:00      0                   1
2       2023-01-01 02:00:00      0                   1
3       2023-01-01 03:00:00      0                   1
4       2023-01-01 04:00:00      0                   1
...                     ...    ...                 ...
1151155 2023-06-30 19:00:00      8                 265
1151156 2023-06-30 20:00:00      5                 265
1151157 2023-06-30 21:00:00      4                 265
1151158 2023-06-30 22:00:00      3                 265
1151159 2023-06-30 23:00:00      1                 265

[1151160 rows x 3 columns]

In [12]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:10<00:00, 24.51it/s]

features.shape=(40545, 674)
targets.shape=(40545,)

In [13]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')